* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

body {
  width: 100%;
  height: 100%;
  background-image: url('http://localhost:3000/images/bg.png');
  background-size: cover;
}

a {
  color: black;
  text-decoration: none;
}
